<h1><%= @vendor.name %></h1>

<p>Contact Info: </p>
<p>Name: <%= @vendor.contact_name %></p>
<p>Phone: <%= @vendor.contact_phone %></p>
<% if @vendor.credit_accepted == true%>
<p>Credit Accepted? YES</p>
<% else %>
<p>Credit Accepted? NO</p>
<% end %>
<p>Description: <%= @vendor.description %></p>
